#package builder
*.egg-info
build/
#Mac stuff:
.DS_Store
*/.DS_Store

#Notebook temps/
.ipynb_checkpoints
*/.ipynb_checkpoints/*.ipynb

#pip packaging
*.egg-info/
build/

#Large files
*/*.fasta*
*/*.fastq*
*/*.fa*
*/*.fq*
*/*.bt*
*.fa*
*/*.m8
*/*.magnitudes*

#Drawio files
*.drawio

#Private key
*.pem

